.modal button {
    padding: 10px 20px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
/*     display: flex; */
    align-items: center;
}

.modal-content {
    padding: 20px;
    margin: auto;
    width: 300px;
    background: #2e2e2e;
    border-radius: 10px;

}

.modal-content div {
    display: flex;
    justify-content: space-between; /* span left, input right */
}
