#characters-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 10px;

    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    width: 80vw;


    display: flex;
    text-align: justify;
    text-justify: auto;
}

.card h1, h2, p {
    word-break: break-word;
    margin-top: 0px;
    margin-bottom: 0;
}


@media (min-width:601px) {
    .card {
        max-height: 20vw;
    }
    .character-art {
        padding-right: 8px;
        text-align: left;
        width: 40%;
    }

    .character-art img {
        width: 100%;
        height: auto;
    }

    .character-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 8px;
        width: 55%;
        overflow-y: auto;
    }
}

@media (max-width:600px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .character-art {
        padding-right: 8px;
        text-align: left;
    }

    .character-art img {
        width: 100%;
        height: auto;
    }

    .character-info {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
    }

}
