#characters-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 10px;

    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    max-width: 800px;
    display: flex;


    text-align: justify;
    text-justify: auto;
}

.card h1, h2 {
    margin-top: 0px;
    margin-bottom: 0;
}

.character-art {
    padding-right: 8px;
    text-align: left;
    width: 300px;
}

.character-art img {
    width: 100%;
    height: auto;
    display: block;
/*     object-fit: scale-down; */
}

.character-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 8px;
    width: 50%;
    overflow-y: auto;
}
