#releases-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 10px;

    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}

.card h1, h2, p {
    word-break: break-word;
    margin-top: 0;
    margin-bottom: 0;
}


@media (min-width:600px) {
    .card {
        width: 60vw;
        max-height: 25vw;
        display: flex;
        text-align: justify;
        text-justify: auto;
    }

    .album_cover {
        width: 50%;
        padding-right: 8px;
    }

    .album_cover img {
        width: 100%;
    }

    .album_info {
        width: 50%;
        padding-left: 8px;
        overflow-y: auto;
    }
}

@media (max-width:599px) {
    .card {
        width: 90vw;
    }

    .album_cover img {
        width: 100%;
    }

    .album_info {
        padding-left: 8px;
        overflow-y: auto;
    }
}

