#musics-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin-top: 10px;

    font-family: "Alexandria", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    max-width: 800px;
    max-height: 400px;
    display: flex;
    text-align: justify;
    text-justify: auto;
}

.card h1, h2 {
    margin-top: 0px;
    margin-bottom: 0;
}

.album_cover {
    width: 50%;
    padding-right: 8px;
}

@media (min-width:600px) {
    .album_cover img {
        object-fit: scale-down;
        width: 100%;
    }

    .album_info {
        padding-left: 8px;
        width: 50%;
        overflow-y: auto;
    }
}

@media (max-width:600px) {
    .card {
        flex-direction: column;
        align-items: center;
    }
    .album_cover {
        width: 80%;
    }
    .album_cover img {
        width: 90%;
    }
}
