html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

#logo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
#logo img{
    width: 270px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

/* Ícones da barra de navegação */
.img_center img {
    margin-left: auto;
    margin-right: auto;
    height: 60px; /* Como os ícones tem tamanhos diferentes, precisa limitar */
    display: block;
}


/* A partir daqui, os ícones e banners colidem */
@media (max-width:799px) {
    #navbar {
        flex-direction: column; /* Ícones ficam agr na vertical */
    }
    .box {
        display: none; /* esconde banners */
    }
    /* Is ícones tem tamanhos diferente (parecem desalinhados), então vamos escolher
     * uma largura pro div, centralizar ele na vertical e alinhar os ícones para encostar
     * no seu lado esquedo.
    */
    .img_center {
        width: 200px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
    }

    .img_center img {
        margin-left: 40px;
    }

}

/* A partir daqui, os banners cabem */
@media (min-width:800px) {
    #navbar {
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .box {
        margin-top:0;
        width: 20vw;
        max-width: 250px;
        height: 500px;

        /* Imagens começam na parte inferior do div */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .box img {
        max-height: 100%;
        object-fit: contain;
    }
}

/* Cores dos banners */

#box1 {
    background-color: #EDB651;
}
#box2 {
    background-color: #8C3AFF;
}
#box3 {
    background-color: #3AADFF;
}
#box4 {
    background-color: #51ED6D;
}
