html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%; /* ensures body fills the viewport */
}

#logo {
text-align: center;
}

#logo > img{
width: 400px !important;
height: auto;
}

#navbar {
width: 50%;
margin: 0 auto;
display: flex;
padding: 10px;
gap: 20px;
}

#navbar a {
padding: 10px 15px;
transition: background 0.3s;
}

#box1 {
background-color: #EDB651;
}
#box2 {
background-color: #8C3AFF;
}
#box3 {
background-color: #3AADFF;
}
#box4 {
background-color: #51ED6D;
}
