html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#logo {
    text-align: center;
}

#logo > img{
    width: 300px !important;
}

#navbar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#box1 {
background-color: #EDB651;
}
#box2 {
background-color: #8C3AFF;
}
#box3 {
background-color: #3AADFF;
}
#box4 {
background-color: #51ED6D;
}
