html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

#logo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#logo img{
    width: 270px;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.img_center img {
    margin-left: auto;
    margin-right: auto;
    height: 59px;
    display: block;
}

#navbar a {
    align-items: center;       /* vertical alignment */
}


@media (max-width:799px) {
    .box {
        display: none;
    }

    .img_center {
        width: 200px;        /* choose your fixed width */
        margin: 0 auto;      /* centers the box */
        display: flex;
        justify-content: flex-start;  /* makes images touch left side */
            }

    .img_center img {
        margin-left: 0;
        display: block;
        max-width: 100%;
        height: auto;
    }

    #red_img {
        height: 87px;
    }

}

@media (min-width:800px) {
    #navbar {
        margin-left: 10vw;
        margin-right: 10vw;
        flex-direction: row;
        height: 100%;
    }

    .box {
        margin-top:0;
        width: 25vh;
        height: 500px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;  /* pushes children to bottom */
    }
}

@media (min-width:1000px) {
    #navbar {
        margin-left: 18vw;
        margin-right: 18vw;
        flex-direction: row;
    }

    .box {
        width: 27vh;
    }
}



#box1 {
    background-color: #EDB651;
}
#box2 {
    background-color: #8C3AFF;
}
#box3 {
    background-color: #3AADFF;
}
#box4 {
    background-color: #51ED6D;
}
