#wrapper {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-text {
    width: 50vw;
}

#brian-wilson {
    margin-top: 0;
    max-height: 300px;
    max-width: 30vw;
    margin-left: 20px;
}


@media (max-width:600px) {
    #wrapper {
        flex-direction: column;
        align-items: center;
    }

    #about-text {
        width: 80%;
    }

}
