
#image-collection {
width: 70%;
margin: auto;

column-count: 2;
column-gap: 12px;
}

#image-collection .card {
    break-inside: avoid;
    margin-bottom: 12px;
}

#image-collection img {
    width: 100%;
    height: auto;
    display: block;
}

#image-collection .card,
#image-collection .card > button {
    width: 100%;
    display: block;
}

.img-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.img-modal-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #2e2e2e;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    align-items: center;
    border-radius: 15px;
}

.img-modal-content img {
    max-height: 50vh;
    object-fit: contain;
}

button {
    border: none;
    background: none;
}
