html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
}

h1, h2, p , div{
    color: white;
}

#logo {
    margin: 15px;
    text-align: center;
}


a { text-decoration: none; }

#navbar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 80px;
}

@media (max-width:600px) {
    #navbar {
        gap: 30px;
    }
}

#navbar > a > img {
    height: 50px;
}

.admin-buttons{
    margin-top: 10px;
    margin-left: 0px;
}

.edit_btn {
    background: none;
    border: 0;
}

.delete_btn {
    background: none;
    border: 0;
}

button:hover {
    cursor: pointer;
}

.button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-btn {
    margin-top: 20px;
    background: none;
    border: 0;
}

#menu-btn {
    margin-top: 10px;
    background: none;
    border: 0;
}
