html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%; /* ensures body fills the viewport */
}

h1, h2, p , div{
    color: white;
}


#logo {
    text-align: center;
}
#navbar {
    max-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#navbar > a > img {
    width: 125px;
    height: 50px;
/*      max-height: 50px; */ */
/*     width: auto !important; */
}

a { text-decoration: none; }


.admin-buttons{
    margin-top: 10px;
    margin-left: 0px;
}

.edit_btn {
    background: none;
    border: 0;
}

.delete_btn {
    background: none;
    border: 0;
}

button:hover {
    cursor: pointer;
}

.button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.open-btn {
    margin-top: 20px;
    background: none;
    border: 0;
}
