html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%; /* ensures body fills the viewport */
}

h1, h2, p , div{
    color: white;
}

#logo {
    text-align: center;
}


#navbar {
    max-height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}


#navbar > a > img {
    max-height: 50px;
    width: auto !important;
}

